[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
igraph = "0.11.2"
s3fs = "2023.6.0"
fastparquet = "2023.7.0"
boto3 = "*"
pandas = "*"
numpy = "*"
python-snappy = "*"
aiokafka = "*"
confluent-kafka = "2.1.0"
python-dotenv = "*"
sqlalchemy = "*"
pyathena = "*"
sentence-transformers = "2.2.2"
torch = "2.0.1"
torchmetrics = "*"
python-igraph = "*"
dateparser = "*"
opensearch-py = "*"
openai = "1.5.0"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
